
aspwebapp1/.vs/aspwebapp1/v15/Server/sqlite3/storage.ide-shm
aspwebapp1/.vs/aspwebapp1/v15/Server/sqlite3/storage.ide
aspwebapp1/.vs/aspwebapp1/v15/Server/sqlite3/storage.ide-wal
aspwebapp1/.vs/aspwebapp1/v15/Server/sqlite3/db.lock
aspwebapp1/.vs/aspwebapp1/v15/.suo
aspwebapp1/.vs/config/applicationhost.config
aspwebapp1/aspwebapp1/obj/Debug/aspwebapp1.csproj.CoreCompileInputs.cache
aspwebapp1/aspwebapp1/obj/Debug/aspwebapp1.csprojResolveAssemblyReference.cache
aspwebapp1/aspwebapp1/obj/Debug/build.force
aspwebapp1/aspwebapp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
aspwebapp1/aspwebapp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
aspwebapp1/aspwebapp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
aspwebapp1/aspwebapp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
